  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Ravaa Creative</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://ravaa.my.id/">Ravaa Creative</a>
    </div>
  </footer>