# ----------------------
# WASERVA CONFIGURATION
# ----------------------

# Node environment: development | production
NODE_ENV=production

APP_URL=
# Port aplikasi
PORT=3000
SESSION_SECRET=sangat-rahasia-dari-env
# Lokasi binary Chrome (kosongkan jika pakai default bawaan sistem)
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome
PUPPETEER_USER_DATA_DIR=/tmp/puppeteer_profile

# URL webhook (jika menerima pesan masuk ke URL eksternal)
WEBHOOK_URL=

# ----------------------
# DATABASE (untuk Sequelize)
# ----------------------
DB_HOST=localhost
DB_PORT=3306
DB_NAME=waserva
DB_USER=root
DB_PASS=password

# ----------------------
# ADMIN SYSTEM
# ----------------------
ADMIN_USER_ID=1