<section class="section">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">History</h4>
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input type="date" class="form-control" id="fromDate">
                </div>
                <div class="col-md-2">
                    <label for="toDate" class="form-label">To Date</label>
                    <input type="date" class="form-control" id="toDate">
                </div>
                <div class="col-md-2">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status" aria-label="Default select example">
                        <option selected>All Status</option>
                        <option value="1">Success</option>
                        <option value="2">Pending</option>
                        <option value="3">Failed</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="search" class="form-label">Search</label>
                    <input type="text" class="form-control" id="search" placeholder="Search...">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary"><i class="bx bx-filter-alt"></i> Apply</button>
                    <button type="button" class="btn btn-secondary"><i class="bx bx-undo"></i> Reset</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 20%">Date & Time</th>
                        <th style="width: 20%">to</th>
                        <th style="width: 50%">Message</th>
                        <th style="width: 10%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>14-07-2025 19:45</td>
                        <td>081234567890</td>
                        <td>Test Pesan</td>
                        <td>success</td>
                    </tr>
                    <tr>
                        <td>14-07-2025 19:45</td>
                        <td>081234567890</td>
                        <td>Pesan untuk tes WA GAteway</td>
                        <td>success</td>
                    </tr>
                    <tr>
                        <td>14-07-2025 19:45</td>
                        <td>081234567890</td>
                        <td>Pesan ini untuk ytest WA-Gateway di JavaScript</td>
                        <td>success</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
